body {
    max-width: 1190px;
    width: 80%;
    margin: 0 auto;
}

html, body, pre, code, kbd, samp {
    font-family: 'Press Start 2P', cursive;
}

header {
    text-align: center;
    margin-top: 20px;
    line-height: 50px;
}

section {
    margin: 50px auto;
}

header > h1 {
    font-size: 25px;
}

.nes-balloon {
    max-width: 80%;
    float: left;
}

.nes-charmander {
    max-width: 20%;
}

.nes-text {
    line-height: 20px;
}

.btn-add {
    margin-bottom: 20px;
}

.w-50p {
    max-width: 45%;
}

.left {
    float: left;
}

.right {
    float: right;
}

.btn-center {
    text-align: center;
    margin-top: 110px;
}

.nes-field {
    margin-top: 10px;
}

@media screen and (min-width: 968px) {
    .nes-charmander {
        margin-top: 220px;
    }
}