
.contactForm{
    text-align: center;
    display:block;
    background-color: #545456;
}

.contactForm{
    text-align: left;
}

#text-box{
    -webkit-appearance: textarea;
}

#title{
    text-align: center;
    color: white;
}
