.logo {
	width: 120px;
	height: 31px;
	background-color: lightgray;
	margin: 16px 28px 16px 0;
	float: left;
}

.header {
	background-color: white !important;
}

.identicon {
	height: auto;
	max-width: 150px;
	width: 60%;
	margin: 20px auto;
	text-align: center;
}
